@media (min-width: 320px){
  body{
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
  }

  header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 1fr;
  }

  .logo{
    grid-column: 2/3;
    padding-left: 25%;
  }

  #profile-pic {
    width: 128px;
    height: 128px;
    margin: 10% auto;
  }

  nav{
    grid-row: 2;
    grid-column: 1 / 4;
  }

  nav > a {
    font-size: .5rem;
    font-weight: bold;
  }

  main{
    display: grid;
  }

  .has-border {
    padding: 10px; 
  }

}

/*Tablet Style*/
@media (min-width: 768px){

    body{
        font-size: 6px;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 19px;
    }

    #profile-pic {
        width: 200px;
        height: 200px;
      }

    nav > a {
        font-size: 20px;
        font-weight: normal;
      }

}

/* Desktop Style */
@media (min-width: 992px){

  body{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 60px auto;
  }

  .logo{
    grid-column: 1/1;
  }

  header{
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  #profile-pic {
    width: 300px;
    height: 300px;
    margin: 25% auto;
  }
  

  nav{
    grid-column: 2/4;
    grid-row: 1;
  }

  nav > a {
    height: 25%;
    padding: 20px;
    font-size: 20px;
    font-weight: normal;
  }

  main{
    grid-column: 2/2;
    text-align: center;
    padding-top: 10%;
  }
  
  button{
    width: 70%;
    font-size: 2vw;
  }

}